
/***********************
Table of Contents

1. General & Misc
2. Skip Link
3. Header
4. Alert
5. Search
6. Top Navigation
7. Espanol and Kids Toggle
8. Most Popular
9. Qoute
10. Inforamtion and Services
11. Government Agencies
12. Home Page Feature
13. Footer
14. Tagline
15. Return to top buttons
16. Survey


Media Queries

max-width: 992px
max-width: 991px
max-width: 768px
max-width: 480px

***********************/


/***********************
1. General & Misc
***********************/
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family:  Tahoma, Verdana, Arial, Sans-serif;
  font-size: 90%;
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
}
main{
  display: block;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #26558b;
}

::selection {
    color: #fff;
    background: #26558b;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

a{
  color:#154285;
  text-decoration: underline;
}
a:visited{
  color:#595959;
}
a:hover, a:focus, a:active{
  color:#1e4570;
}
a:focus, input:focus, button:focus, textarea:focus, select:focus, a:active, input:active, button:active, textarea:active, select:active{
  outline:#ff8c00 solid 3px;
}
h1{
  margin: 0 0 0 0;
}

h2 {
  font-size: 140%;
  font-weight: normal;
  padding: 0 0 0 0;
}

#content ul li, #content ol li{
  line-height: 20px;
}

.hphdr2{
    color: #c61f0c;
    padding: 15px 0 0 0;
    font-size: 170%;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="checkbox"]{-webkit-appearance: checkbox; 
}
input[type="radio"]{-webkit-appearance: radio; 
}

/*E-mail friend input field*/
#emlfnd {
  padding: 0 0 0 0;
}

#emlfnd input[type="checkbox"]{-webkit-appearance: checkbox; 
}

#emlfnd input[type="text"] {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 15px;
  height: 28px;
  width: 50%;
  border: 1px solid #000;

} 

#emlfnd textarea {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #000;
}

/*E-mail friend input field end*/

/*Buttons*/
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button{
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  cursor: pointer;
}

.morebutton{
  display:block;
  float:left;
  text-align:left;
  line-height:18px;
  padding:10px 15px 10px 15px;
  margin:15px 0 10px 80px;
  position:relative;
  background: #ebe6de;
  cursor:pointer;
}

.moreicon{
  background: url(/assets/usa_gov/Icon_More.png) right;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  padding: 5px 33px 5px 2px;
}

/*a{
  color:#1e4570;
  text-decoration: underline;
}*/

.mocklink{
  text-decoration: underline;
}

ul.topics .mocklink {
    text-decoration: underline;
  font-size: 110%;
  font-weight: bold;
}

.topicsmore{
    display: block;
    border: 1px solid #cdcdcd;
    padding: 15px 15px 15px 15px;
    margin: 0 0 15px 0;
    width: 105%;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

a:hover.topicsmore {
    border: 1px solid #154285;
    text-decoration:underline;
}

.topicsmore span{
    display:inline-block;
    background-image: url("/assets/usa_gov/Icon_Arrow_More_Service.png");
    width: 33px;
    height: 33px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    background-size: contain;
}
#officials h4 span, #agencies h4 span, #state-local h4 span{
    display:inline-block;
    background-image: url("/assets/usa_gov/Icon_Arrow_Red_Open.png");
    width: 33px;
    height: 33px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    background-size: contain;
    transition: all 0.5s;
}
#officials:hover h4 span, #agencies:hover h4 span, #state-local:hover h4 span,
#officials.active h4 span, #agencies.active h4 span, #state-local.active h4 span{
    opacity:0;
}

/***********************
2. Skip Link
***********************/
#skiplinkholder {
  position: absolute;
  width: 100%;
}
#skiplinkholder p {
  padding: 0 0 0 0;
}
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {
  display: block;
  left: -10000px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background-position: initial initial;
  background-repeat: initial initial;
  border-bottom-color: #CCC;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: underline;
  font-size: 210%;
  color: #FFF;
  background-color: #A50000;
}
#skiplinkholder a:focus, #skiplinkholder a:active {
  left: 0;
  top: 0;
  z-index: 100;
}
#skiptargetholder {
    margin: 0 0 0 0;
}

/***********************
3. Header
***********************/
#header {
  background: #1b50a0;
  position: relative;
}
#header>.container {
    height: 160px;
    position: relative;
}

#header .headercontact a span:before {
  color: #fff;
}

.cntrlogo {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 0 0;
}

.cntrlogo:lang(en) {
  width: 380px;
  height: 157px;
}

.cntrlogo:lang(es) {
  width: 560px;
  height: 157px;
}

.cntrlogo a, .cntrlogo a:visited{
  font-size: 200%;
  color: #fff;
  display: block;
  /*line-height: 80px;*/
}

.betalnk {
  float: left;
  margin: 0px 0 85px 0;
  padding: 0 0 0 0;
}

.betalnk:lang(es) {
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.betalnk li {
  margin: 12px 0 12px 17px;
  display: inline-block;
  color: #fff;
}

.betalnk li:lang(es) {
  margin: 12px 0 0 17px;
  display: inline-block;
  color: #fff;
}

.betalnk a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.betalnk a:hover, #utilities a:active, #utilities a:focus  {
  text-decoration: underline;
}

#logo{
  /*float: left;
  padding: 15px 0 15px 0;*/
  border: 0;
  /*margin-left: auto;
  margin-right: auto;*/
}

#header h1 a, .logolink {
  /*float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

#utilities {
  float: right;
  margin: -170px 0 85px 0;
  padding: 0 0 0 0;
}

#utilities li {
  margin: 12px 0 12px 17px;
  display: inline-block;
  color: #fff;
}

#utilities a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#utilities a:hover, #utilities a:active, #utilities a:focus  {
  text-decoration: underline;
}

#utilities span {
  margin: 12px 0px 12px 0px;
  display: block;
}

#toggles {
  display: none;
}
.headercontact{
  display: none;
}

/***********************
4. Alert
***********************/
#alertbox{
    min-height: 75px;
    width: 100%;
    margin: 10px 0 20px 0;
    background: #c61f0c; 
    color: #fff;
    background-image: url("/assets/usa_gov/Icon_Alert.png");
    background-repeat: no-repeat;
    background-position: left 20px top 25px;
}

#alertbox h2{
    padding: 10px 0 10px 60px;
    margin: 0 0 0 0;
}

#alertbox p{
    padding: 0 0 10px 60px;
    margin: 0 0 10px 0;
}

#alertbox a, #alertbox a:hover, #alertbox a:visited {
    color: #fff;
}

#alertbox a:focus, #alertbox a:active{
    outline: #fff solid 3px;
}

#aboutus {
  position: relative;
    background-color: #EBE6DE;
    color: #1B50A0;
    font-weight: bold;
    font-size: 140%;
    padding: 20px;
    text-align: center;
}
#aboutus:after {
    content:"";
    position:absolute;
    top:100%;
    left:50%;
    margin: 0 0 0 -10px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #EBE6DE;
}
/***********************
5. Search
***********************/
#search form {
    float: right;
}

#search input[type="text"] {
  display: block;
  float: left;
  width: 790px;
  border: 0;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  font-size: 100%;
  line-height: 20px;
  height: 40px;
}

::-webkit-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}
#search button {
  display: block;
  border: 0;
  margin: 0 0 0 0;
  padding: 7px 0 10px 0;
  font-size: 130%;
  font-weight: normal;
  line-height: 20px;
  background: #1b50a0;
  color: #fff;
  width: 130px;
  float: left;
  height: 40px;
}

/*#search input[type="text"] {
  margin: auto 10px auto auto;
  width: 1020px;
  border: 1px solid #182c42;
}*/

div.searchbkgnd{
    height: 80px;
    background: #373737;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #fff;
}

div.searchttl{
  margin: 0 0 0 0;
  float:left;
}

div.searchttl p{
  font-size: 130%;
  font-weight: normal;
  margin: 5px 0 10px 0;
  padding: 0 0 0 0;
  color: #fff;
}
#content div.searchttl p {
  color: #c61f0c;
  font-size: 170%;
}

/*HomePage Search*/
#content .searchbkgnd {
    background: transparent;
    padding: 0 0 0 0;
}
#content .searchbkgnd .container {
    padding: 0 0 0 0;
    width: 100%;
}
#content #query {
    border: 3px solid #D8D8D8;
    box-shadow: inset 0 0 8px #D8D8D8;
    width: 85%;
    height: 55px;
    font-size: 120%;
}
#content button#buscarSubmit {
  width: 14%;
  margin: 0 0 0 1%;
  height:55px;
}
#content div.searchttl p{
  color: #c61f0c;
}

#content #search form {
    width: 100%;
}

/***********************
6. Top Navigation
***********************/
#mnnav {
  clear: both;
}

#mnnav ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navItems li {
  display: block;
  float: left;
  text-align: center;
  width: 14.33%;
  font-size: 110%;
  /*background: url('/assets/usa_gov/Line_Topnav.png');*/
  background-position: left;
  background-repeat: no-repeat;
}

#mnnav li:first-child {
  background-image: none;
  width: 6%;
}
#mnnav li+li+li+li+li+li+li+li {
  width: 8%;
}
ul.navItems a {
  display: table;
  width: 100%;
  height: 115px;
  border-top: 10px solid transparent;
  text-decoration: none;
  color:#fff;
}
ul.navItems a:hover {
  border: 1px solid white;
  padding: 9px 0 0 0;
}
ul.navItems a:hover span, ul.navItems a:active span, ul.navItems a:focus span{
  text-decoration: underline;
}
ul.navItems a.current:hover span, ul.navItems a.current:active span, ul.navItems a.current:focus span{
  text-decoration: none;
}

#mnnav a.current, ul.navItems a.current:hover {
  background: #fff;
  border:none;
  border-top: 6px solid #c61f0c;
  color: #1b50a0;
  font-weight: normal;
  padding: 4px 0 0 0;
}


#search-toggle .closer {
    display: none;
}

#search-toggle.current .closer {
  display: inline;
}
#search-toggle.current .searcher {
    display: none;
}
#nav-toggle .closer {
    display: none;
}
#nav-toggle.current .closer {
  display: inline;
}
#nav-toggle.current .menuer {
    display: none;
}

.hidden{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

 /***********************
7. Espanol and Kids Toggle
***********************/
.hptoggles{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #fff;
}

.hptoggles ul{
  float: right;
  margin: 0 0 0 0;
  padding: 19px 0 15px 0;
}

.hptoggles ul li{
  display: inline;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}

.engtoggle{
  position: relative;
  margin: 0 0 0 0;
  padding: 5px 0 5px 20px;
}

.hptoggles ul li.noTggle {
    display: none;
}

/*li.engtoggle::after {
   content:"";
   width:1px;
   height:20px;
   position:absolute;
   background: #c7c7c7;
   right: 7px;
}*/


.hptoggles .engtoggle a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 7px 0 0;
  padding: 5px 20px 5px 20px;
  background: #022945;
}

.hptoggles .engtoggle a:hover{
    text-decoration: underline;
}

.kidstoggle{
  margin: 0 0 0 0;
}

.hptoggles .kidstoggle a{
  color: #022945;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  background: #f8d280;
}

.hptoggles .kidstoggle a:hover{
    text-decoration: underline;
}

/***********************
8. Most Popular
***********************/

.background{
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade{
  width: 100%;
  height: 100%;
}
[data-bg]{
  background-image: none;
  background-size: cover;
  background-position: center;
}

.bg5 {
  background-image: url("/assets/usa_gov/Contact_Federal_Agencies.jpg");
 }
html:lang(es) .bg5 {
  background-image: url("/assets/usa_gov/Contact_State.jpg");
}

.bg6 {
  background-image: url("/assets/usa_gov/Contact_State.jpg");
}
html:lang(es) .bg6 {
  background-image: url("/assets/usa_gov/Contact_Consulate.jpg");Contact_State.jpg
}

.bg7 {
  background-image: url("/assets/usa_gov/Contact_Elected.jpg");
}

#trending {
  position: relative;
  margin: 15px 0;
  background-size: contain;
}
#trending .backdrop, #trending .backdrop2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.9s;
}
#trending .new {
  z-index: 1;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#trending .new>li {
  overflow: hidden;
  margin: 0 0 12px 0;
  padding: 3px 15px 3px 15px;
}
#trending .topic {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 111px 0 0 0;
  border: none;
  transition: all 0.5s;
  background: none;
}
#trending .inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  transition: height 0.5s, background 0.5s;
  background: rgba(255, 255, 255, 0.92);
}
#trending .inner.expanded {
  height: 100%;
  background: #fff;
}
#trending .inner:hover {
  background: #fff;
}
#trending .inner ul {
  list-style-type: square;
  color: #1B50A0;
  max-height: 102px;
  overflow: hidden;
}
#trending .inner li {
  padding-right: 14px;
}
#trending .inner p {
  padding: 0 10px 0 10px;
  max-height: 102px;
  overflow: hidden;
  margin: 0 0 0 0;
}
#trending h2 {
  margin: 0;
  height: 90px;
  width: 100%;
  font-size: 135%;
}
#trending button {
  height: 100%;
  width: 100%;
  border: none;
  border-top: 0px solid #c61f0c;
  background: none;
  text-align: left;
  font-size: inherit;
  transition: all 0.5s;
  background-image:url(/assets/usa_gov/Icon_Red_Arrow_Up.png);
  background-position: top 30px right 10px;
  background-repeat: no-repeat;
  padding: 10px 30px 10px 15px;
  cursor: pointer;
}
#trending .expanded button {
  height: 200px; 
  padding-bottom: 130px; 
  color: #c61f0c;
  border-top: 5px solid #c61f0c;
  background-image:url(/assets/usa_gov/Icon_Red_Arrow_Down.png);
}
#trending .inner:hover button {
  border-top: 5px solid #c61f0c;
}

.slick.slick-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slick div {
  height: 100%;
  background-size: cover;
  background-position: center;
}

 /***********************
9. Quote
***********************/
.quote{
    height: auto;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
}

blockquote{
    display: inline-block;
    padding: 25px 0 0 10px;
    margin: 0 0 25px 0;
    text-align: left;
    width: 60%;
    font-size: 135%;
}

.fquote, .lquote{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
}
.fquote{
   background-image:url("/assets/usa_gov/Quote_Start.png");
    vertical-align: top;
}
.lquote{
   background-image: url("/assets/usa_gov/Quote_End.png");
   vertical-align: bottom;
}

 /***********************
10. Information and Services
***********************/
 #topics{
    padding: 0 0 0 0;
}

#topics li{
    list-style-type: none;
    height: 300px;
    margin: 0 0 20px 0;
}

a.outline{
    border: 1px solid #cdcdcd;
    height: 100%;
    padding: 5px 5px 5px 5px;
    display: block;
    text-decoration: none;
    width: 105%;
}
a.outline.more{
    height: auto;
}

a:hover.outline{
    border: 1px solid #154285;
}

#topics li a div{
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

#topics li p {
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
}

.topic-benefit{
    background-image:url("/assets/usa_gov/Topic_Benefit.jpg");
}

.topic-tax{
    background-image:url("/assets/usa_gov/Topic_Tax.jpg");
}

.topic-passport{
    background-image:url("/assets/usa_gov/Topic_Passport.jpg");
}

.topic-mortgage{
    background-image:url("/assets/usa_gov/Topic_Refinance.jpg");
}

.topic-immigration{
    background-image:url("/assets/usa_gov/Topic_Immigration.jpg");
}

.topic-job{
    background-image:url("/assets/usa_gov/Topic_Job.jpg");
}

.topic-health{
    background-image:url("/assets/usa_gov/Topic_Health.jpg");
}

.topic-auction{
    background-image:url("/assets/usa_gov/Topic_Auction.jpg");
}
.topic-flag{
    background-image:url("/assets/usa_gov/Topic_Immigration.jpg");
}
.topic-heart{
    background-image:url("/assets/usa_gov/Topic_Health_Resources.jpg");
}
.topic-globe{
    background-image:url("/assets/usa_gov/Topic_Passport.jpg");
}
.topic-agencies{
    background-image:url("/assets/usa_gov/Topic_Agencies_Elected.jpg");
}
.topic-scales{
    background-image:url("/assets/usa_gov/Topic_Law.jpg");
}
.topic-cap{
    background-image:url("/assets/usa_gov/Topic_Education_02.jpg");
}
.icon-plus-white{
    background-image: url("/assets/usa_gov/Icon_Nav_More.png");
}

#topics li a span{
   display: block;
   padding: 10px 0 15px 65px;
   min-height: 60px;
   color: #154285;
   font-weight: bold;
}
#topics li a.more span{
   padding: 10px 50px 10px 10px;
   color: white;
   background-color:#1B50A0;
   line-height:40px;
   text-align: right;
   background-position: center right;
   margin: 0 0 5px 0;
}

#topics li a:hover span{
   text-decoration: underline;
}

.hp-srvc-benefit{
   background:url("/assets/usa_gov/Topic_Icon_Benefit.png")5px 0 no-repeat;
}

.hp-srvc-bullhorn{
   background:url("/assets/usa_gov/Topic_Icon_Alert.png")5px 0 no-repeat;
}

.hp-srvc-flag{
   background:url("/assets/usa_gov/Topic_Icon_About_USA.png")5px 0 no-repeat;
}

.hp-srvc-ballot{
   background:url("/assets/usa_gov/Topic_Icon_Voting.png")5px 0 no-repeat;
}

.hp-srvc-tag{
   background:url("/assets/usa_gov/Topic_Icon_Sale.png")5px 0 no-repeat;
}

.hp-srvc-mortgage{
   background:url("/assets/usa_gov/Topic_Icon_Mortgage.png")5px 0 no-repeat;
}

.hp-srvc-tax{
   background:url("/assets/usa_gov/Topic_Icon_Money.png")5px 0 no-repeat;
}

.hp-srvc-medal{
   background:url("/assets/usa_gov/Topic_Icon_Military.png")5px 0 no-repeat;
}

.hp-srvc-scales{
   background:url("/assets/usa_gov/Topic_Icon_Law.png")5px 0 no-repeat;
}

.hp-srvc-job{
   background:url("/assets/usa_gov/Topic_Icon_Job.png")5px 0 no-repeat;
}

.hp-srvc-globe{
   background:url("/assets/usa_gov/Topic_Icon_Immigration.png")5px 0 no-repeat;
}

.hp-srvc-heart{
   background:url("/assets/usa_gov/Topic_Icon_Health.png")5px 0 no-repeat;
}

.hp-srvc-leaf{
   background:url("/assets/usa_gov/Topic_Icon_Environment.png")5px 0 no-repeat;
}

.hp-srvc-cap{
   background:url("/assets/usa_gov/Topic_Icon_Education.png")5px 0 no-repeat;
}

.hp-srvc-tipi{
   background:url("/assets/usa_gov/Topic_Icon_Native.png")5px 0 no-repeat;
}
.hp-srvc-agencies{
   background:url("/assets/usa_gov/Topic_Icon_Elected_Officials.png")5px 0 no-repeat;
}


/***********************
11. Government Agencies
***********************/

#contact h4 {
  margin: 15px;
  font-weight: normal;
  font-size: 120%;
}
#contact a {
  display: table;
  padding: 0 5px 0 40px;
  text-decoration:none;
  height:46px;
  width:100%;
  background: #C7DAF1 url(/assets/usa_gov/Icon_Arrow_Blue.png) no-repeat left 10px center;
}
#contact a span {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
#contact a:hover {
  text-decoration:underline;
}
#contact a.more {
  background: none;
  text-align: right;
  color: #ffffff;
  height: 40px;
  padding: 10px 0 10px 0;
  line-height: 20px;
  margin: 5px 0 5px 0;
  font-weight: bold;
}
#contact a.more span {
  display: inline-block;
  background: #C7DAF1 url(/assets/usa_gov/Icon_Arrow_Blue.png) no-repeat center;
  width: 22px;
  height: 22px;
  margin: 0 0 0 10px;
  vertical-align: bottom;
  background-size: contain;
}

#officials, #agencies, #state-local {
  position: relative;
  color: white;
  margin-bottom: 20px;
  background-size: cover;
  background-color: #EDE9DE;
  overflow: hidden;
}
#officials > *, #agencies > *, #state-local > * {
  position: relative;
  z-index: 1;
}
#officials .underlay, #agencies .underlay, #state-local .underlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
#officials .overlay, #agencies .overlay, #state-local .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: 0;
}
#officials a, #agencies a, #state-local a {
  opacity: 0;
  position: relative;
  transition: all 0.5s ease;
}
#officials a:hover, #officials a:active, #officials a:focus, #officials.active a,
#agencies a:hover, #agencies a:active, #agencies a:focus, #agencies.active a,
#state-local a:hover, #state-local a:active, #state-local a:focus, #state-local.active a {
  opacity: 1;
  top: 0;
  transform: translate(0, 0px);
}
#officials:hover .overlay, #officials:active .overlay, #officials:focus .overlay, #officials.active .overlay,
#agencies:hover .overlay, #agencies:active .overlay, #agencies:focus .overlay, #agencies.active .overlay,
#state-local:hover .overlay, #state-local:active .overlay, #state-local:focus .overlay, #state-local.active .overlay {
  background-color: rgba(20, 90, 190, 0.8);
}
#officials:hover a, #officials:active a, #officials:focus a,
#agencies:hover a, #agencies:active a, #agencies:focus a,
#state-local:hover a, #state-local:active a, #state-local:focus a {
  opacity: 1;
  top: 0;
  transform: translate(0, 0px);
}

.quicktitle {
    font-weight: bold;
    font-size: 120%;
    padding: 0 0 15px 0;
    margin: 0 0 0 0;
}

.quickmenu {
    margin: 0 0 0 0;
}

.quickmenu li {
    display: block;
}

.quickmenu li a {
    display: inline-block;
    background-color: #1b50a0;
    color: #fff;
    padding: 10px 14px 10px 14px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    line-height: 20px;
}

.quickmenu li a:hover, .quickmenu li a:focus, .quickmenu li a:active{
    text-decoration: underline;
    background-color: #fff;
    color: #1b50a0;
    border: 1px solid;
    border-color: #1b50a0;
}

/***********************
12. Home Page Feature
***********************/



/***********************
13. Footer
***********************/
 #footer{
  background: #4b4b4d;
  color: #fff;
}

 #footer ul{
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
 }

 #footer ul li, .headercontact ul li{
  list-style-type: none;
 }

 #footer a{
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
 }
 #footer span.icon-phone, #header span.icon-phone {
  white-space: normal;
  line-height: normal;
  height: 27px;
 }

 /*span.icon-phone.spcng {
  line-height: 20px;
 }*/

 #footer a:visited, .headercontact a {
  color:#e8e8e8;
 }

 #footer a:hover, #footer a:focus, #footer a:active,
 #footer a:hover span, #footer a:focus span, #footer a:active span,
 .headercontact a:hover span, .headercontact a:focus span, .headercontact a:active span{
  color: #fff;
  text-decoration: underline;
 }

  div.footernav ul li{
    float: none;
    width: 100%;
    padding: 0 0 10px 0;
  line-height: 17px;
  }

  div.footercontact ul li{
    margin: 0 0 10px 0;
  }

  div.footerconnected ul li{
    float: left;
    width: 49%;
    margin: 0 0 8px 0;
  }

  div.footerconnected a{
    display: block;
  }

  .cnnctfcbk {
  background: url('/assets/usa_gov/Icon_Connect_Facebook.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

  .cnncttwtr {
  background: url('/assets/usa_gov/Icon_Connect_Tweeter.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

  .cnncttmblr {
  background: url('/assets/usa_gov/Icon_Connect_Tumblr.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

  .cnnctrss {
  background: url('/assets/usa_gov/Icon_Connect_RSS.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

  .cnnctytb {
  background: url('/assets/usa_gov/Icon_Connect_Youtube.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

  .cnncteml {
  background: url('/assets/usa_gov/Icon_Connect_Email.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  white-space: nowrap;
  }

  .cnnctglg {
  background: url('/assets/usa_gov/Icon_Connect_Google.png');
  background-repeat: no-repeat;
  padding: 6px 0 6px 50px;
  }

 .footertagline{
    background: #000;
    clear:both;
  }

  /***********************
14. Tagline
***********************/
.tagline{
  margin: 0 auto 0 auto;
  padding: 3px 0 3px 5px;
}

.tagline p{
  float: left;
  color: #fff;
}

#footer .tagline a{
  text-decoration: none;
}

#footer .tagline a:hover, .tagline a:focus, tagline a:active{
  text-decoration: underline;
}

.tagline .volver{
  float:right;
  padding:  0 14px 0 0;
}

/***********************
15. Return to top buttons
***********************/
.statebacktotop{
 padding: 160px 0 5px 0;
 text-align:right;
 }

.volver{
  padding:10px 0 5px 0;
  text-align:right;
}
.volver a{
  display:inline-block;
  padding:0 0 4px 0;
  text-decoration:none;
}
.volver a:hover, a:focus, a:active{
  text-decoration:underline;
}
.footer .volver{
  padding:15px 0 15px 0;
  text-align:center;
}

/***********************
16. Survey
***********************/

  #vocModalOverlay {
      width:100%;
      height:100%;
      z-index:9999; /* places the modal overlay between the main page and the modal dialog*/
      background-color:#000;
      opacity:0.5;
      position:fixed;
      top:0;
      left:0;
      display:none;
      margin:0 0 0 0;
      padding:0 0 0 0;
  }

  div#vocModal {
      width:50%;
      min-width:320px;
      margin: auto auto auto auto;
      padding: 100px 20px 20px 20px;
      text-align: center;
      border: thin #000 solid;
      background-color:#fff;
      z-index:10000; /* places the modal dialog on top of everything else */
      position:fixed;
      top:25%;
      display:none;
  }
  #vocModal:before {
    position:absolute;
    display:block;
    top:0;
    left:0;
    content:"";
    height:80px;
    width:100%;
    background-image:url("https://www.usa.gov/sites/all/themes/usa/images/usa_logo_white_with_bg.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-color: #1B50A0;
  }
  html:lang(es) #vocModal:before {
    background-image:url("https://gobierno.usa.gov/sites/all/themes/usa/images/Logo_Gobierno.png");
  }

  #vocModal p {
    width:100%;
    max-width:400px;
    margin:auto auto 20px auto;
  }
  #vocModal h1 {
    text-align:center;
  }

  #vocEnter, .vocCancelButton, .start-survey  {
    height:38px;
    font-size:100%;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
  }
  .vocCancelButton {
    color:#022945;
    background:#fff;
    border: 1px #24496B solid;
  }

  #vocEnter, .start-survey {
    color:#fff;
    background: #c61f0c;
    border: 1px #c61f0c solid;
    margin: 0 5px 0 0;
  }

  .screen-reader-offscreen {
      position:absolute;
      left:-999px; /* suggestion to change to 10000 to left - todo */
      width:1px;
      height:1px;
      top:auto;
  }

  #vocModal input.top-right {
    display:none;
  }

.content {
  margin: 25px 15px 25px 15px;
}
.banner {
  display: block;
  margin: 0 auto 10px auto;
}
.message {
  margin: 15px 0 15px 0;
}
.float-right {
  float: right;
}
.privacy-policy {
  text-decoration: none;
  color: #0000d9;
  font-size: .9em; /* suggestion to change to 90% - todo */
}
.start-survey {
  display: block;
  margin: 25px auto 25px auto;
  width: 150px;
  font-size: 1.2em; /* suggestion to change to 120% - todo */
  cursor: pointer;

}
#survey-target {
  display:none;
}

@media (max-width: 1200px) {
  #search input[type="text"] {
    width: 570px;
  }
  
  #utilities:lang(es) {
  float: right;
  margin: -178px 0 85px 0;
  padding: 0 0 0 0;
 }
}

@media (max-width: 992px) {

  body{
    font-size:100%;
  }
   .cntrlogo, .cntrlogo:lang(en), .cntrlogo:lang(es) {
    width: auto;
    height: auto;
    float: left;
    padding: 0 0 0 0;
  }

  h2{
    font-size: 117%;
  }
  .navItems{
    font-size:90%;
  }
  #toggles {
    font-size: 80%;
  }

  #mnnav li{
    padding: 0 0 0 0;
  }
  #header>.container {
      height: auto
  }
  
  .betalnk {
    display: none;
  }
  
  #logo {
    height: 80px;
  }

  #utilities {
    display: none;
  }

  #toggles {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 15px;
  }
  #nav-toggle, #search-toggle {
    display: inline-block;
    background: none;
    border: none;
    color: #fff;
    margin: 0 0 0 0;
    font-size: 130%;
  }
  #search-toggle {
    padding: 17px 12px 26px 12px;
  }
  #nav-toggle{
    margin: 18px 0px 21px 9px;
    padding: 5px 0 5px 0;
  }
  .show-nav #nav-toggle{
    padding: 18px 0px 26px 9px;
    margin: 0 0 0 0;
  }
  #mnnav li{
    border: none;
  }
  ul.navItems a {
    border-top: 0px solid transparent;
  }
  ul.navItems a:hover {
    border: none;
    padding: 0 0 0 0;
  }
  .headercontact{
    display: block;
    color: #fff;
  }
  .headercontact ul {
    padding: 0 0 0 0;
  }
  .headercontact li{
    margin: 10px 10px 10px 10px;
  }

  .show-search #search, .show-nav #mnmenu {
    clear: both;
  }
  .show-search #search li, .show-nav #mnnav li {
    width: 100%;
    height: auto;
    text-align: left;
  }
  .show-search #search a, .show-nav ul.navItems a {
    height: auto;
    background: #fff;
    color: #27558a;
    padding: 6px 12px 6px 12px;
    border-bottom: 1px solid #27558a;
    box-sizing: border-box;
  }
  .show-search #search a.current, .show-nav #mnnav a.current {
    border-top: none;
    border-left: 6px solid #c61f0c;
    border-bottom: 1px solid #1b50a0;
    padding: 6px 12px 6px 6px;
  }

  #search, #mnmenu {
    display: none;
  }

  .show-search #search, .show-nav #mnmenu {
    display: block;
  }

  .show-search #search-toggle, .show-nav #nav-toggle {
    background: #373737;
  }
  #search input[type="text"] {
    width: 82%;
  }
  #search button {
    width: 18%;
    font-size: 90%;
    background: #1b50a0;
  }

  div.searchbkgnd{
    display: none;
  }
  .show-search div.searchbkgnd{
    display: block;
    height: auto;
  }
  div.searchttl p{
    font-size: 1em;
  }
  .show-nav #mnmenu{
    background: #373737;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #fff;
  }
  div.searchbkgnd{
      padding: 13px 20px 20px 20px;
  }

  .quickmenu li {
  display: inline-block;
  }
}

 @media (min-width: 992px) {
   #contact{
     border-right: 1px solid #c9c9c9;
   }
   #contact h4 {
     background-image: none;
     height: 33px;
     line-height: 33px;
   }
 }
@media (max-width: 991px) {
  #skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {
  display: none;
  } 
 .betalnk {
    display: none;
  }
  #header h1 a {
  height: auto;
  width: auto;
  }
  #utilities{
    display: none;
  }
  .cntrlogo, .cntrlogolang(es), .cntrlogo:lang(en)  {
    width: auto;
    padding: 0 0 0 0;
  }
  #logo{
    height:100px;
  }
  #search, #nav{
    display:none;
  }
  .show-search #search, .show-nav #nav{
    display: block;
  }
  #search form{
    float: none;
  }
  .hptoggles{
    font-size: 95%;
  }
  
#content ul li, #content ol li{
  line-height: 25px;
}

 #trending .inner ul {
     max-height: 130px;
  }
  
 #trending .inner p {
     margin: 16px 0 16px 0;
  }
  
  #topics li a div{
    background-size: cover;
  }

  div.footernav, div.footerconnected, div.footercontact{
    height: auto;
  }
  div.footernav, div.footerconnected, div.footercontact{
    height: auto;
  }
   div.footernav {
    padding: 0 0 0 20px;
  }
  div.footernav ul li{
      float: none;
      width: 100%;
    line-height: 25px;
    }

  div.footerconnected ul li{
      float: none;
      width: 100%;
      margin: 0 0 15px 0;
  }
  .volver{
    text-align:center;
  }
  .volver a{
      padding:0 0 0 0;
    }
  .tagline .volver, .tagline p{
      float: none;
      text-align:center;
    }

    .statebacktotop{
    text-align: center;
    padding: 60px 0 0 0;
   }

  #trending .background {
    display: none;
  }

  #trending {
    border: none;
    background: #EDE9DE;
    padding: 15px 0 0 0;
  }

  #trending .topic, #trending h2, #trending .inner {
    height: 60px;
  }
  #trending .topic {
    margin: 0 0 0 0;
  }
  #trending .topic.expanded {
    height: 400px;
  }
  #trending h2 {
    font-size: 140%;
  }
  .inner .bg1, .inner .bg2, .inner .bg3, .inner .bg4 {
    height: 0px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
  }
  .inner.expanded .bg1, .inner.expanded .bg2, .inner.expanded .bg3, .inner.expanded .bg4 {
    height: 200px;
  }

  #officials, #agencies, #state-local {
    background-image: none;
  }
  #officials a, #agencies a, #state-local a {
    opacity: 1;
    margin: 0 0 15px 0;
  }
  #officials .overlay, #agencies .overlay, #state-local .overlay {
    background-color: rgba(20, 90, 190, 0.8);
  }
  #officials, #agencies, #state-local {
    height: 90px;
    transition: all 0.5s;
  }
  #officials h4, #agencies h4, #state-local h4 {
    text-shadow: 0px 2px 5px #000;
    height: 90px;
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
  }
  #officials:hover, #officials:active, #officials:focus, #officials.active,
  #agencies:hover, #agencies:active, #agencies:focus, #agencies.active,
  #state-local:hover, #state-local:active, #state-local:focus, #state-local.active {
    height: 365px;
  }
  #officials:hover h4, #officials:active h4, #officials:focus h4, #officials.active h4,
  #agencies:hover h4, #agencies:active h4, #agencies:focus h4, #agencies.active h4,
  #state-local:hover h4, #state-local:active h4, #state-local:focus h4, #state-local.active h4 {
    height: 90px;
    margin: 15px;
  }


  blockquote{
      padding: 15px 0 0 10px;
      margin: 0 0 15px 0;
      width: 70%;
      font-size: 100%;
  }

  .fquote, .lquote{
      width: 60px;
      height: 50px;
  }
  
  #trending button {
    font-size: 85%;
    padding: 0px 30px 0px 15px;
    background-position: top 20px right 10px;
  }
}

@media (max-width: 768px) {
  #logo {
    height: 75px;
  }
  #toggles{
    display:block;
  }
  #search-toggle, .show-search #search, .show-search #mnmenu{
    display: none;
  }
  .show-nav #search, .show-nav #mnmenu {
    display: block;
    clear: both;
  }
 .show-nav #mnmenu {
    padding: 120px 0 20px 0;
  }
  .hptoggles ul {
    float: none;
    text-align: center;
  }

  #search input[type="text"] {
    width: 80%;
    }
  #search button {
    width: 20%;
    }
  div.footernav, div.footerconnected, div.footercontact{
    height: auto;
  }
  div.searchbkgnd {
    padding: 13px 0 0 0;
    position: absolute;
    width: 100%;
    background: none;
    border:none;
  }
  .show-nav div.searchbkgnd {
    display: block;
  }
  .show-search div.searchbkgnd {
    display: none;
  }

  .quickmenu li {
  display: inline-block;
  }
  
  a.outline {
    width: auto;
  }
      
  #topics li{
    height: auto;
  }
  
  #topics li a div{
    display: none;
  }
  
  #topics li a span {
    min-height: 45px;
    padding: 5px 0 8px 65px;
  
}
  #topics li a.more span {
    min-height: 35px;
    line-height:30px;
    margin: 0 0 20px 0;
    /* text-align:center; */
    
  
    /* background-position: left; */
}
  #topics li a.more p {
    text-align: right;
    padding:0;
  
}
  
  #topics li p {
    padding: 0 0 0 65px;
    margin: -15px 0 0 0;
  }
  
  .topicsmore{
    width: auto;
    }
  
#emlfnd input[type="text"] {
  width: 60%;
} 

#emlfnd textarea {
  width: 60%;
}
}

@media (max-width: 480px) {
  
  .cntrlogo, .cntrlogo:lang(en), .cntrlogo:lang(es) {
    padding: 20px 0 0 0;
  }
  
  #logo:lang(es) {
    height: 49px;
  }

  .hptoggles ul li{
    margin: 0 5px 0 5px;
  }
  .hptoggles .engtoggle a{
    margin: 0 0 0 0;
  }
  li.engtoggle::after{
    right: -8px;
  }

  #search button {
    font-size: 100%;
  }

  #trending .topic, #trending h2, #trending .inner {
    height: 60px;
  }

  .quickmenu li {
  display: inline-block;
  }
  
  .fquote, .lquote{
      width: 36px;
      height: 30px;
  }
  
#emlfnd input[type="text"] {
  width: 100%;
} 

#emlfnd textarea {
  width: 100%;
}
}

.flowIndicator {
    margin:auto;
    width:100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;   
  text-transform: uppercase;
}
.flowIndicator div {
    display:inline-block;
    position:relative;
    height: 48px;
    line-height:48px;
    padding:0 30px;
    border:1px solid #4B4A4F ;
    border-right:1px solid #4B4A4F ;
    margin-right:5px;
     -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;  
    text-align: center;
}

.flowIndicator div.right:after{
    content:'';
    border-top:1px solid #4B4A4F ;
    border-right:1px solid #4B4A4F ;
    width:34px;
    height:34px;
    position:absolute;
    right:0;
    top:-1px;
    background-color:#fff;
    z-index:150;
    
       -moz-transform: translate(17px,7px) rotate(45deg);
    -webkit-transform: translate(17px,7px) rotate(45deg);
         -o-transform: translate(17px,7px) rotate(20deg); 
        -ms-transform: translate(17px,7px) rotate(45deg);
            transform: translate(17px,7px) rotate(45deg);
}

.flowIndicator div.left:before{
    content:'';
    border-top:1px solid #4B4A4F ;
    border-right:1px solid #4B4A4F ;
    width:34px;
    height:34px;
    position:absolute;
    left:0;
    top:-1px;
    background-color:white;
    z-index:50;
    
       -moz-transform: translate(-17px,7px) rotate(45deg);
    -webkit-transform: translate(-17px,7px) rotate(45deg);
         -o-transform: translate(-17px,7px) rotate(20deg);
        -ms-transform: translate(-17px,7px) rotate(45deg);
            transform: translate(-17px,7px) rotate(45deg);
}
.flowIndicator .active{
    background-color:#C61F0C;
    color:white;
    border-color:#C61F0C ;
}
.flowIndicator div.active:after{
    background-color:#C61F0C;
    border-top: 1px solid #C61F0C;
  border-right: 1px solid #C61F0C;
}
.flowIndicator .active.left:before,
.flowIndicator .active.left:after,
.flowIndicator.active.right:before,
.flowIndicator.active.right:after{
    border-color:#C61F0C;
}
.flowIndicator .notInitiated{
    background-color:#EBE7DF ;
    color:#26558b ;
     border-color:#EBE7DF ;
}
.flowIndicator .notInitiated.left:before,
.flowIndicator .notInitiated.left:after{
  border-color:#EBE7DF ;  
}
.flowIndicator div.notInitiated:after{
    background-color:#EBE7DF ;
}
.flowIndicator i{
   display: none;
}
.flowindicator-icon{
    position: relative;
    top: 15px;
    left:25px;
}
