<div class="flat">
  <div class="width_f">
    <div id="online_reg_notice">
      <h3>Requirements</h3>
      <p><span clas="bold">State requirements</span</p>
      <ul>
        <li>All states require that you be a United States citizen by birth or naturalization to register to vote in federal and state elections. Federal law makes it illegal to falsely claim U.S. citizenship to register to vote in any federal, state, or local election.</li>
        <li>Each state has its own laws about who may register and vote. Check the information for your state in the State Instructions on the <a href="http://www.eac.gov/assets/1/Documents/Federal%20Voter%20Registration_6-25-14_ENG.pdf">National Mail Voter Registration Form</a> (PDF, <a href="https://get.adobe.com/reader/">Download Adobe Reader</a>).</li>
        <li>You cannot be registered to vote in more than one place at one time.</li>
        <li><span class="bold">Please note:</span>North Dakota, Wyoming, and the U.S. territories (Puerto Rico, U.S. Virgin Islands, American Samoa, and Guam) do not accept the National Mail Voter Registration Form. New Hampshire will accept this form only as a request for their own absentee voter mail-in registration form.</li>
        <li>If you live in one of these states or territories, contact your <a href="https://www.usa.gov/election-office">local election office</a> to register.</li>
      </ul>
      <p><span clas="bold">American citizens or uniformed military living abroad:</span>Do not use this form. Visit the <a href="http://www.fvap.gov/">Federal Voting Assistance Program (FVAP)</a> to register to vote or request your absentee ballot.</p>

      <p><span class="bold">First time registering to vote.</span> If you are registering to vote for the first time in your jurisdiction and are mailing this registration application, federal law requires you to show proof of identification the first time you vote. Proof of identification includes: </p>
      <ul>
        <li>A current and valid photo identification, or </li>
        <li>A current utility bill, bank statement, government check, paycheck, or government document that shows your name and address.</li>
      </ul>
      <p>Voters may be exempt from this requirement if they attach a copy of this identification with their mail-in voter registration application. If you wish to submit a copy, please keep the following in mind:
      <ul>
        <li>Your state may have additional identification requirements that may mandate you show identification at the polling place even if you meet the federal proof of identification. </li>
        <li>Do not submit original documents with your application, only copies.</li>
      </ul>
      <h3>Instructions for using this form</h3>
      <ul>
        <li>You will need Adobe Acrobat to download your voter registration application. If you don't have Adobe Acrobat, you can <a href="https://get.adobe.com/reader/">download Adobe Acrobat Reader</a> here.</li>
        <li>You will also need a printer to print out your registration form.</li>
      </ul>
      <p>After you fill out your voter registration form online, you must print, write in your ID number, sign, and mail your application to your Secretary of State or appropriate voter registration office. For your convenience, the address of your local election office is pre-printed on your form along with the detailed registration instructions for your state.</p>

    </div>
  </div>
</div>
<div class="button_row">
  <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_step_3_path(@registrant, :show_fields=>"1") %></div>
   <div class="next"><%= link_to t('txt.button.submit').html_safe, registrant_step_4_path(@registrant, :show_fields=>"1") %></div>
</div>