<%= render partial: "layouts/usa_gov_header_nav" %>
<div class="review">
  <div class="flat">
    <div class="width_f">
      <h1><%= I18n.t('txt.registration.download_header') %></h1>
      <div class="download">
        <ul>
          <li>You are not done. Check your e-mail to download and print your voter registration application. </li>
          <li>On your printed application, write in your ID number, sign, and mail to the address located on the form. Federal law requires that states collect from each registrant an identification (ID) number, typically your social security number or driver’s license number. If you have neither a driver’s license nor a social security number, please indicate this on the form and a number will be assigned to you by your state.</li>
          <li>If you are registering to vote for the first time, remember to attach copies of your proof of identification. Do not send original documents with the application, only copies.</li>
          <li>You will not be registered unless you download, print, sign, and mail in your form to your local election office!</li>
          <li><a href="https://www.usa.gov/election-office">Contact your state</a> to confirm that you are registered. After you mail your voter registration application to your state election office, it is their responsibility to data enter your application and register you to vote.</li>
        </ul>
      </div>
    </div>
  </div>
</div>