<p>On your printed application, write in your ID number, sign, and mail to the address located on the form for your Secretary of State or local election office. Federal law requires that states collect from each registrant an identification (ID) number, typically your social security number or driver’s license number. If you have neither a driver’s license nor a social security number, please indicate this on the form and a number will be assigned to you by your state.</p>

<p>If you are registering to vote for the first time, remember to attach copies of your proof of identification. Do not send original documents with the application, only copies.</p>
