/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require usa_gov/grid
 *= require usa_gov/style
 *= require usa_gov/downlvl
 *= require usa_gov/platformbj
 *= require font-awesome
 */
.has_error input{
  border: 3px solid #C61F0C !important;
}
.has_error select{
  border: 3px solid #C61F0C !important;
}
#other_language_link{
  visibility: hidden;
}

main > div > form, .review {
    border: 2px solid #E4EAEE;
  padding: 0 0 15px 0;
  margin: 15px 0 15px 0;
}
input[type="text"]:disabled, select:disabled {
    background: #dddddd;
    border-color: #ccc;
}
select{
     display: block;
  width: 300px;
  height: 35px;
  padding: 20px;
  border: solid 1px #ddd;
  font-size: 100%;
    background:#fafafa!important;
     background-image:none!important;
}
.flat, .checkbox, .stacked,.affirm  > li{
    list-style: none;
}
.flat, .checkbox, .stacked{
    border-bottom: dotted 1px #ddd;
    padding: 10px 0 10px 25px;
    margin: 0;
}
fieldset > .checkbox, .stacked{
    border-bottom:none;
}
.checkbox > li > h3{
    margin: 0px!important;
}
.flat > li > h2, h2 > label{
    margin:0 0 2px 0px!important;
    font-size: 15px;
    font-weight: 600;
}
.stacked > li > h3{
    margin: 0px!important;
}
.flat > li > div > input, .stacked> li > div > input, .form-control, .flat-stack input{
  display: block;
  width: 300px;
  height: 35px;
  padding: 20px;
  border: solid 1px #ddd;
  font-size: 100%;
  background-color: #fafafa;
  border-radius: 4px;
}
.checkbox-step-1 input[type='checkbox'] {
  -webkit-appearance: checkbox;
  margin-left: 90%;
  margin-top: -15px;
    display: table;
}
.form-control-inline{
  display: inline-block;
  margin-right: 5px;
  width: 120px;
}
.form-row-alt{
    background-color: #E4EAEE;
}
h1{
color: #c61f0c;
  padding: 10px 0 10px 0;
  font-size: 180%;
  font-weight: normal;
}
.new_registrant, fieldset{
      border: 1px solid #eee;
  margin: 15px;
}
// .tooltip{
//   position: relative;
//   top: -15px;
//   left: 155px;
// }
// .tooltip > img{
//     width:20px;
// }
.info, .text {
  background-color: #E4EAEE;
  color: #4B4A4F;
  padding: 5px 5px 5px 15px;
  line-height: 35px;
}
.button_row {
  display: flex;
  overflow: hidden;
  margin: 15px 5px;
}

.button{
    clear: both;
    overflow: hidden;
    display: inline;
}
.button_next_step > button,
.button_prepare > button,
.button_review > button{
  border: solid 1px #1b50a0;
  background: #fff;
  color: #1b50a0;
  margin: 0 0 0 0;
  padding: 7px 5px 10px 5px;
  font-size: 130%;
  font-weight: normal;
  line-height: 20px;
  min-width: 130px;
  height: 40px;
  cursor: pointer;

}
.back{
  background: #fff;
  color: #4B4A4F;
    display: inline;
    flex: 6;
  margin: 0 0 0 15px;
  padding: 7px 0 10px 0;
  font-size: 130%;
  font-weight: normal;
  line-height: 20px;
  width: 130px;
  height: 40px;
  text-align: left;
  cursor: pointer;
}
.back a{
    border: solid 1px #ddd;
    padding: 3px 15px 10px 15px;
}
.button_edit{
    margin-left: 15px;
}
filedset > legend > .tooltip{
position: relative;
  top: 5px;
  left: 5px;
  width: 25px;
}
legend{
      font-size: 1.5em;
  font-weight: 300;
  padding: 0 15px 0 15px;
}

/*tooltip styles*/
.tooltip{
  position: relative;
  width:99%;
  color: #000;
  background: #E4EAEE;
  border: 1px solid #ddd;
  height: auto;
  line-height: 25px;
  text-align: left;
    padding: 0 10px 0 10px;
//  visibility: hidden;
    display: block;
    margin: 0 30px 2px 0px;
    border-radius: 4px;
    font-size: 13px;
}
.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #E4EAEE ;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
/*Errors on the page*/
.alert{
   color: #a94442;
  background-color: #f2dede;
  border:solid 1px #ebccd1;
    padding: 5px;
    margin: 2px;
    overflow: auto;
    min-height: 0;
}
.alert:empty{
    visibility: hidden;
}
.alert ul{
    list-style: inside;
    padding: 0;
    margin: 0;
}
.success{
      background-color: #dff0d8;
      border-top: 1px solid #ddd;
    margin: 2px;
  padding: 5px;
}

