/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require usa_gov/grid
 *= require usa_gov/style
 *= require usa_gov/downlvl
 *= require usa_gov/platformbj
 *= require font-awesome
 *= require_self
 */

.button_print {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 2px 0 0;
  padding: 5px 20px 5px 20px;
  background: #022945;
  font-size:130%;
  line-height:60px;
    text-decoration: none;
}
.button_print:visited {
  color: #fff;
}
a:focus, input:focus, div[role=group]:focus, button:focus, textarea:focus, button:focus, select:focus, {
    outline:#ff8c00 solid 3px;
    outline-offset: 3px;
}
a:active, a:focus{
  outline:#ff8c00 solid 3px;
    outline-offset: 3px;
}
#finish_page_iframe {
  margin-top: 20px;
}
legend {
  color: #1a51a1;
  outline: 0px !important;
  border: 0px !important;
  font-size: 140%;
  padding: 0 15px 0 15px;
  font-weight: bold;
}
.has_error input{
  border: 3px solid #C61F0C !important;
}
.has_error select{
  border: 3px solid #C61F0C !important;
}
#other_language_link{
  visibility: hidden;
}

.please_review p{
  margin: 0px
}
.bottom_note{
  padding: 0px 20px 0px 20px;
}

main > div > form, .review {
    border: 2px solid #E4EAEE;
  padding: 0 0 15px 0;
  margin: 15px 0 15px 0;
}
input[type="text"]:disabled, select:disabled {
    background: #dddddd;
    border-color: #ccc;
}
select{
     display: block;
    width: 300px;
    font-size: 130%;
    border: solid 1px #ddd;
    line-height: 50px;
    background:#fafafa!important;
     background-image:none!important;
}
.flat, .checkbox, .stacked,.affirm  > li{
    list-style: none;
}
.flat, .checkbox, .stacked{
    // border-bottom: dotted 1px #ddd;
    padding: 10px 0 10px 25px;
    margin: 0;
}
fieldset > .checkbox, .stacked{
    border-bottom:none;
}
.flat > li > label, .checkbox > li > label, .stacked > li > label, .flat > li > div > label, .question > li > label{
    margin:0 0 2px 0px!important;
    font-size: 110%;
    font-weight: 600;
    line-height: 30px;
}

.flat > li > div > input, .stacked> li > div > input, .form-control, .flat-stack input{
  display: block;
  width: 300px;
  // height: 35px;
  padding: 10px;
  // border: solid 1px #ddd;
  font-size: 100%;
  background-color: #fafafa;
  border-radius: 4px;
}
.checkbox-step-1 input[type='checkbox'] {
  -webkit-appearance: checkbox;
  margin-top: -15px;
}
label.check-box-step-1{
  margin-left: 10px;
}
.form-control-inline{
  display: inline-block;
  margin-right: 5px;
  width: 120px;
}
.form-row-alt{
    background-color: #E4EAEE;
}
h1{
color: #c61f0c;
  padding: 10px 0 10px 0;
  font-size: 180%;
  font-weight: normal;
}
.new_registrant, fieldset{
      border: 1px solid #eee;
}
// .tooltip{
//   position: relative;
//   top: -15px;
//   left: 155px;
// }
// .tooltip > img{
//     width:20px;
// }
.required{
    color: #A80000;
    display: inline-block;
    margin: 0 5px 0 5px;
}
.info, .text {
  background-color: #E4EAEE;
  color: #4B4A4F;
  padding: 5px 5px 5px 15px;
  line-height: 35px;
}
.button_row {
  display: flex;
  overflow: hidden;
  margin: 15px 5px;
}

.button{
    clear: both;
    overflow: hidden;
    display: inline;
}
.button_next_step > button,
.button_prepare > button,
.button_review > button{
  border: solid 1px #c61f0c;
  background: #c61f0c;
  color: #fff;
  margin: 0 0 0 0;
  padding: 7px 5px 10px 5px;
  font-size: 130%;
  font-weight: normal;
  line-height: 20px;
  min-width: 130px;
  height: 40px;
  cursor: pointer;

}
.back{
  background: #fff;
  color: #4B4A4F;
    display: inline;
    flex: 6;
  margin: 0 0 0 15px;
  padding: 7px 0 10px 0;
  font-weight: normal;
  width: 130px;
  height: 40px;
  text-align: left;
  cursor: pointer; 
}
.back a{
    border: solid 1px #1b50a0;
    font-size: 130%;
    line-height: 20px;
    padding: 3px 15px 10px 15px;
    text-decoration: none;
}
.back a:visited{
  color: #1b50a0;
}
.button_edit{
    margin-left: 15px;
}
filedset > legend > .tooltip{
position: relative;
  top: 5px;
  left: 5px;
  width: 25px;
}
/*tooltip styles*/
.tooltip{
  position: relative;
  // width:99%;
  color: #000;
  background: #E4EAEE;
  border: 1px solid #ddd;
  height: auto;
  line-height: 18px;
  text-align: left;
    padding: 0 10px 0 10px;
//  visibility: hidden;
    display: block;
    margin: 0 30px 2px 0px;
    border-radius: 4px;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #E4EAEE ;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
/*Errors on the page*/
.alert{
   color: #903A38;
  background-color: #FEFAFA;
  border:solid 1px #ebccd1;
    padding: 0 0 5px 15px;
    margin: 0 0 0 0; 
    overflow: auto;
    min-height: 0;
    font-size: 120%;
    font-weight: 500;
}
.alert:empty{
    visibility: hidden;
}
.alert ul{
    list-style: inside;
    padding: 0!important;
    margin: 0!important;
}
.success{
      background-color: #dff0d8;
      border-top: 1px solid #ddd;
    margin: 2px;
  padding: 5px;
}

.voter_message{
  padding-left: 15px
}
@media (max-width: 992px) {
  .button_print{
    font-size: 100%;
  }
}

@media(max-width:640px){
  .flow-indicator{
    display: none;
  }
}
@media(max-width:500px){
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
}
