/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require usa_gov/grid
 *= require usa_gov/style
 *= require usa_gov/downlvl
 *= require usa_gov/platformbj
 *= require font-awesome
 *= require_self
 */
.js-to_expand[aria-hidden=true] { display: none; }

.expandmore__button {
  background: none;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

.expandmore__button[aria-expanded=false]:before {
  content : '+ ';
}
.expandmore__button[aria-expanded=true]:before {
  content : '- ';
}
.js-to_expand{
  border: solid #000 1px ;
  padding: 15px;
}
.button_print {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 2px 0 0;
  padding: 5px 20px 5px 20px;
  background: #022945;
  font-size:130%;
  line-height:60px;
    text-decoration: none;
}
.bold{

  font-weight: bold;
}
.button_print:visited {
  color: #fff;
}

legend {
  color: #1a51a1;
  outline: 0px !important;
  border: 0px !important;
  font-size: 140%;
  padding: 0 15px 0 15px;
  font-weight: bold;
}
.has_error input{
  border: 3px solid #A81A0A !important;
}
.has_error select{
  border: 3px solid #A81A0A !important;
}

.checkbox_error{

  border: 3px solid #A81A0A !important;
}
#other_language_link{
  visibility: hidden;
}

.please_review p{
  margin: 0px
}
.bottom_note{
  padding: 0px 20px 0px 20px;
}

main > div > form, .review {
    border: 2px solid #E4EAEE;
  margin: 15px 0 15px 0;
}
input[type="text"]:disabled, select:disabled {
    background: #dddddd;
    border-color: #ccc;
}
select{
     display: block;
    width: 300px;
    // font-size: 130%;
    border: solid 1px #ddd;
    line-height: 50px;
    background:#fafafa!important;
     background-image:none!important;
}
.flat, .checkbox, .stacked,.affirm  > li{
    list-style: none;
}
.flat, .checkbox, .stacked{
    // border-bottom: dotted 1px #ddd;
    padding: 10px 0 10px 25px;
    margin: 0;
}
.checkbox li{
  padding: 10px 0 10px 25px;
}
fieldset{
  padding: 0 15px 0;
}
fieldset > .checkbox, .stacked{
    border-bottom:none;
}
.flat > div > label, .checkbox > div > label, .stacked > li > label, .flat > div > div > label, .question > div > label{
    margin:0 0 2px 0px!important;
    // font-size: 110%;
    font-weight: bold;
    line-height: 30px;
}

.flat > div > div > input, .stacked> div > div > input, .form-control, .flat-stack input{
  display: block;
  width: 300px;
  // height: 35px;
  padding: 10px;
  // border: solid 1px #ddd;
  font-size: 100%;
  background-color: #fafafa;
  border-radius: 4px;
}
.checkbox-step-1 input[type='checkbox'] {
  -webkit-appearance: checkbox;
  margin-top: -15px;
}
label.check-box-step-1{
  margin-left: 10px;
}
.form-control-inline{
  display: inline-block;
  margin-right: 5px;
  width: 120px;
}
.form-row-alt{
    background-color: #E4EAEE;
}
h1{
color: #A81A0A;
  padding: 10px 0 10px 0;
  font-size: 180%;
  font-weight: normal;
}
.new_registrant{
    border: 2px solid #E4EAEE;
    padding: 0 0 15px 0;
    margin: 15px 0 15px 0;
}
fieldset{
    border:none;
    border-bottom: dotted 1px #ddd;
    margin-bottom: 15px
}
#hrbreaker{
  border:none;
  border-top:1px dotted #ddd;
  height:1px;
  margin-bottom:15px;
}
// .tooltip{
//   position: relative;
//   top: -15px;
//   left: 155px;
// }
// .tooltip > img{
//     width:20px;
// 
.required{
    color: #A80000;
    display: inline-block;
    margin: 0 5px 0 5px;
}
.info, .text {
  background-color: #E4EAEE;
  color: #4B4A4F;
  padding: 5px 5px 5px 15px;
  line-height: 35px;
}
.button_row {
  display: flex;
  overflow: hidden;
  margin: 15px 5px;
}

.button{
    clear: both;
    overflow: hidden;
    display: inline;
}
.home_state > div{
  display: inline-block
}
.home_state > .rollover_button {
  padding-left: 10px;
  padding-top: 10px;
}

.centered{
  width: 100%;
  text-align: center;
}
.centered > .rollover_button{
  display: inline-block;
  margin: 0 auto;
}
.rollover_button > button,
.button_next_step > button,
.button_prepare > button,
.button_review > button,
.button_review > button{
  border: solid 1px #A81A0A;
  background: #A81A0A;
  color: #fff;
  margin: 0 0 0 0;
  padding: 7px 5px 10px 5px;
  font-size: 130%;
  font-weight: normal;
  line-height: 20px;
  min-width: 130px;
  cursor: pointer;
  outline: none;
}
.section_header{
  color: #1a51a1;
  outline: 0px !important;
  border: 0px !important;
  font-size: 140%;
  padding: 0 15px 0 15px;
  font-weight: bold;
}
.registration_options{
  margin: 20px;
}
.registration_options li{
  margin: 10px;
}
.online-reg{
  background: #A81A0A;
  color: #fff;
    display: inline-block;
    // flex: 6;
  padding: 7px 0 10px 0;
  font-weight: normal;
  text-align: left;
  cursor: pointer; 
}

.online-reg a{
    border: solid 1px #A81A0A;
  color: #fff;
    font-size: 130%;
    line-height: 20px;
    padding: 3px 15px 10px 15px;
    text-decoration: none;
}
.online-reg a:visited{
  color: #fff;
}


.back{
  background: #fff;
  color: #4B4A4F;
    display: inline;
    flex: 6;
  margin: 0 0 0 15px;
  padding: 7px 0 10px 0;
  font-weight: normal;
  width: 130px;
  height: 40px;
  text-align: left;
  cursor: pointer; 
}
.back a{
    border: solid 1px #1b50a0;
    font-size: 130%;
    line-height: 20px;
    padding: 3px 15px 10px 15px;
    text-decoration: none;
}
.back a:visited{
  color: #1b50a0;
}

.next{
  background: #A81A0A;
  color: #fff;
    display: inline;
  margin: 0 0 0 15px;
  padding: 7px 0 10px 0;
  font-weight: normal;
  height: 40px;
  text-align: left;
  cursor: pointer; 
}
.next a{
    border: solid 1px #A81A0A;
    font-size: 130%;
  color: #fff;
    line-height: 20px;
    padding: 3px 15px 10px 15px;
    text-decoration: none;
}
.next a:visited{
  color: #fff;
}
.button_edit{
    margin-left: 15px;
}
filedset > legend > .tooltip{
position: relative;
  top: 5px;
  left: 5px;
  width: 25px;
}
/*tooltip styles*/
.tooltip{
  position: relative;
  // width:99%;
  color: #000;
  background: #E4EAEE;
  border: 1px solid #ddd;
  height: auto;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
    padding: 0 10px 0 10px;
//  visibility: hidden;
    display: inline-block;
    margin: 0 30px 2px 0px;
    border-radius: 4px;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 4%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #E4EAEE ;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
/*Errors on the page*/
.alert{
   color: #903A38;
  background-color: #FEFAFA;
  border:solid 1px #ebccd1;
    padding: 0 0 5px 15px;
    margin: 0 0 0 0; 
    overflow: auto;
    min-height: 0;
    font-size: 120%;
    font-weight: 500;
}
.alert:empty{
    visibility: hidden;
}
.alert ul{
    list-style: inside;
    padding: 0!important;
    margin: 0!important;
}
.success{
      background-color: #dff0d8;
      border-top: 1px solid #ddd;
    margin: 2px;
  padding: 5px;
}

.voter_message{
  padding-left: 15px
}
@media (max-width: 992px) {
  .button_print{
    font-size: 100%;
  }
}

@media(max-width:500px){
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }

  h1{
    padding-left:5px;
  }
  .flat{
    padding: 0;
  }
  .stacked{
    padding: 0;
  }
  .checkbox{
    padding: 0;
  }
}


@media(max-width: 1200px){
  .flowIndicator div {
    line-height: 20px;
    padding-top: 5px
  }
}
@media(max-width: 900px){
  .flowIndicator div {
    line-height: 20px;
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .flow-indicator{
    display: none;
  }
    .flowIndicator > div {
      padding: 0;
      margin-bottom: 35px;
      text-transform:lowercase;
      font-size: 105%;
      text-align: left;
    }
  .flowIndicator > div > span {
        display: block;
    }
    .flowIndicator > .active{
        color:#A81A0A;
    }
    .flowIndicator i{
    display: block!important;
    position: relative;
    z-index: 100;
    top: 30%;
    left: 40%;
          font-size: 110%;
  }
  .flowIndicator div span{
      display: none
  }
  .flowindicator-icon{
      position: relative;
      top: 15px;
      left:30px;
      z-index: 200;
  }
    .active > i{
        color:#fff;
    }
}

a:focus, input:focus, div[role=group]:focus, button:focus, textarea:focus, button:focus, select:focus, {
    outline:#ff8c00 solid 3px;
    outline-offset: 3px;
}

.back a:focus,
.next a:focus{
  border: #ff8c00 solid 3px;
  border-spacing: 3px;
  outline: none;
}

a:active, a:focus{
  outline:#ff8c00 solid 3px;
    outline-offset: 3px;
}
#finish_page_iframe {
  margin-top: 20px;
}

.centered > .button > button:focus,
.button_row > .rollover_button > button:focus{

  border: solid 4px #ff8c00 ;
}



.usa-accordion + .usa-accordion,
.usa-accordion + .usa-accordion-bordered,
.usa-accordion-bordered + .usa-accordion,
.usa-accordion-bordered + .usa-accordion-bordered {
  margin-top: 1rem; }
.usa-accordion > ul,
.usa-accordion-bordered > ul {
  color: #212121;
  margin: 0;
  padding: 0;
  width: 100%; }
  .usa-accordion > ul > li,
  .usa-accordion-bordered > ul > li {
    background-color: #f1f1f1;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    list-style: none;
    margin-bottom: 6px;
    width: 100%; }
.usa-accordion button[aria-expanded=false],
.usa-accordion-bordered button[aria-expanded=false] {
  background-image: url("plus.png");
  background-image: url("plus.svg");
  background-repeat: no-repeat;
  background-size: 1.3rem; }
.usa-accordion button,
.usa-accordion-bordered button {
  background-color: #EBE7DF;
  background-image: url("minus.png");
  background-image: url("minus.svg");
  background-position: right 3rem center;
  background-repeat: no-repeat;
  background-size: 13px;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  color: #1a51a1;
  margin: 0;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 5.5rem;
  padding-top: 1.5rem;
  width: 100%; }
  .usa-accordion button:focus,
  .usa-accordion-bordered button:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .usa-accordion button:hover,
  .usa-accordion-bordered button:hover {
    background-color: #d6d7d9;
    color: #212121; }
  .usa-accordion button h1, .usa-accordion button h2, .usa-accordion button h3, .usa-accordion button h4, .usa-accordion button h5, .usa-accordion button h6,
  .usa-accordion-bordered button h1,
  .usa-accordion-bordered button h2,
  .usa-accordion-bordered button h3,
  .usa-accordion-bordered button h4,
  .usa-accordion-bordered button h5,
  .usa-accordion-bordered button h6 {
    margin: 0; }

.usa-accordion-bordered .usa-accordion-content {
  border-bottom: 3px solid #EBE7DF;
  border-left: 3px solid #EBE7DF;
  border-right: 3px solid #EBE7DF; }

.usa-accordion-content {
  display: block;
  background-color: white;
  overflow: auto;
  padding: 3rem; }
  .usa-accordion-content > *:first-child {
    margin-top: 0; }
  .usa-accordion-content > *:last-child {
    margin-bottom: 0; }
[aria-hidden=true]{
  display: none !important;
}

.usa-date-of-birth label {
  margin-top: 0; }
.usa-date-of-birth input[type=number]::-webkit-inner-spin-button,
.usa-date-of-birth input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; }
.usa-date-of-birth input[type=number] {
  -moz-appearance: textfield; }

.usa-form-group-day,
.usa-form-group-month,
.usa-form-group-year {
  float: left;
  clear: none;
  margin-right: 1.5rem;
  width: 5rem; }

.usa-form-group-day > input,
.usa-form-group-month > input,
.usa-form-group-year > input{
  border: 1px solid #5b616b;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 1.3rem;
    margin: .2em 0;
    max-width: 46rem;
    width: 100%;
    outline: none;
    appearance: none;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:40px;
        line-height:40px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 20px 0!important;
    }
}        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:40px;
        line-height:40px;
    }     
}

.space_labels > div >label{
  display:block;
  margin: 10px 0px 10px 0px;
}

.no_border{
  border: none;
}

.usa-button-unstyled{
  border: none;
}